.diary_wrapper {
  display: flex;
  gap: 32px;
}

.diary_template {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #000;
  margin-bottom: 16px;
  margin-top: 100px;
  text-align: center;
}
